{% extends 'global/base.html' %}

{% load static %}

{% block title %}Colaboradores -{% endblock %}
{% block content %}

  <div class="container">
    <h2 class="mt-4">Cadastrar Colaborador</h2>
    <form action="{% url 'criar_colaborador' %}" method="POST" class="mb-5">
      {% csrf_token %}

      <div class="mb-3">
        {{ form.nome.label_tag }}
        {{ form.nome }}
      </div>

      <div class="mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>

      <div class="mb-3">
        {{ form.telefone.label_tag }}
        {{ form.telefone }}
      </div>

      <div class="mb-3">
        {{ form.status.label_tag }}
        {{ form.status }}
      </div>

      <div class="mb-3">
        {{ form.cargo.label_tag }}
        {{ form.cargo }}
      </div>

      <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
  </div>

  <div class="modal fade" id="sucessoModal" tabindex="-1" aria-labelledby="sucessoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title" id="sucessoModalLabel">Sucesso!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

  {% if messages %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    var sucessoModal = new bootstrap.Modal(document.getElementById('sucessoModal'));
    sucessoModal.show();
  });
  </script>
  {% endif %}

  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="text-center flex-grow-1">Lista de Colaboradores</h2>
    </div>

    <div class="search-container mb-4">
      <form action="{% url 'listar_colaboradores' %}" method="get" class="search-form d-flex">
      <input
       type="search"
       class="search-input"
       name="search"
       placeholder="Pesquisar pelo nome"
       value="{{ search_query }}"
       autocomplete="off"
      >
      <button type="submit" class="search-button">
        <i class="fas fa-search"></i>
      </button>
      </form>
      <a href="{% url 'criar_colaborador' %}" class="btn btn-success ms-3">
        <i class="fas fa-plus"></i> Cadastrar
      </a>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Status</th>
          <th>Cargo</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for i in colaboradores %}
        <tr>
          <td>{{ i.nome }}</td>
          <td>{{ i.email }}</td>
          <td>{{ i.telefone }}</td>
          <td>
            {% if i.status %}
            <span class="text-success">Ativo</span>
            {% else %}
            <span class="text-danger">Inativo</span>
            {% endif %}
          </td>
          <td>{{ i.cargo }}</td>
          <td>
            <a href="{% url 'editar_colaborador' i.id %}" class="btn btn-primary btn-sm">Editar</a>

            <!-- Botão que abre o modal -->
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
              data-bs-target="#confirmDelete{{ i.id }}">
              Excluir
            </button>

            <!-- Modal -->
            <div class="modal fade" id="confirmDelete{{ i.id }}" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Remover Colaborador</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                  </div>
                  <div class="modal-body">
                    Tem certeza que deseja remover <strong>{{ i.nome }}</strong>?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="{% url 'deletar_colaborador' i.id %}" class="btn btn-danger">Remover</a>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6" class="text-center">Nenhum colaborador encontrado.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}