{% extends 'global/base.html' %}

{% load static %}

{% block title %}Equipamentos -{% endblock %}
{% block content %}

  <div class="container">
    <h2 class="mt-4">Cadastrar Equipamento</h2>
    <form action="{% url 'criar_equipamento' %}" method="POST" class="mb-5">
      {% csrf_token %}

      <div class="mb-3">
        {{ form.nome.label_tag }}
        {{ form.nome }}
      </div>

      <div class="mb-3">
        {{ form.tipo.label_tag }}
        {{ form.tipo }}
      </div>

      <div class="mb-3">
        {{ form.codigo.label_tag }}
        {{ form.codigo }}
      </div>

      <div class="mb-3">
        {{ form.validade.label_tag }}
        {{ form.validade }}
      </div>

      <div class="mb-3">
        {{ form.estoque.label_tag }}
        {{ form.estoque }}
      </div>

      <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
  </div>

  <div class="modal fade" id="sucessoModal" tabindex="-1" aria-labelledby="sucessoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title" id="sucessoModalLabel">Sucesso!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

  {% if messages %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    var sucessoModal = new bootstrap.Modal(document.getElementById('sucessoModal'));
    sucessoModal.show();
    });
  </script>
  {% endif %}

  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="text-center flex-grow-1">Lista de Equipamentos</h2>
    </div>

    <div class="search-container mb-4">
      <form action="{% url 'listar_equipamentos' %}" method="get" class="search-form d-flex">
      <input
        type="search"
        class="search-input"
        name="search"
        placeholder="Pesquisar pelo nome"
        value="{{ search_query }}"
        autocomplete="off"
      >
      <button type="submit" class="search-button">
        <i class="fas fa-search"></i>
      </button>
      </form>
      <a href="{% url 'criar_equipamento' %}" class="btn btn-success ms-3">
        <i class="fas fa-plus"></i> Cadastrar
      </a>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Código</th>
          <th>Validade</th>
          <th>Estoque</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for i in equipamentos %}
        <tr>
          <td>{{ i.nome }}</td>
          <td>{{ i.tipo }}</td>
          <td>{{ i.codigo }}</td>
          <td>{{ i.validade|date:"d/m/Y" }}</td>
          <td>{{ i.estoque }}</td>
          <td>
            <a href="{% url 'editar_equipamento' i.id %}" class="btn btn-primary btn-sm">Editar</a>

            <!-- Botão que abre o modal -->
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
              data-bs-target="#confirmDelete{{ i.id }}">
              Excluir
            </button>

            <!-- Modal -->
            <div class="modal fade" id="confirmDelete{{ i.id }}" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Remover Equipamento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                  </div>
                  <div class="modal-body">
                    Tem certeza que deseja remover <strong>{{ i.nome }}</strong>?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="{% url 'deletar_equipamento' i.id %}" class="btn btn-danger">Remover</a>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6" class="text-center">Nenhum equipamento encontrado.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}